:root {
    --column-width: 230px;
    --item-height: 45px;
    --num-items: 9;
    --column-height: calc(var(--num-items)*var(--item-height) + calc(var(--item-height)/2));
    --border-radius: 10px;
    --item-padding: 10px;
    --light-grey: rgb(206, 206, 206);
    --dark-grey: rgb(102, 102, 102);
    --font-color: rgb(0, 0, 217);
    --purple: rgb(255, 137, 255);
    --light-purple: rgba(255, 137, 255, 20%);
    --green: aquamarine;
    --light-green: rgb(188, 255, 233);
    --dark-green: rgb(3, 255, 171);
    --folder-icon-offset: 13px;
    --container-margin: 10px;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

#content-container {
    display: flex;
    width: calc(50% + var(--column-width)/2 + var(--container-margin));
    justify-content: right;
}

#folders-container, #notes-container {
    position: relative;
    margin: var(--container-margin);
}

#notes-container {
    display: none;
}

#all-folders, #all-notes {
    box-sizing: border-box;
    width: var(--column-width);
    height: var(--column-height);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1.5px solid var(--purple);
    border-radius: var(--border-radius);
    background-color: var(--light-purple);
    
}

.folder, .note {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: var(--column-width);
    height: var(--item-height);
    color: var(--font-color);
    background-color: var(--green);
    margin: 0px;
    padding: var(--item-padding);
    border-top: solid var(--purple);
    border-width: 1.5px;
    font-size: 14px;
    font-family: monospace;
}

.folder:first-child, .note:first-child {
    border-top: none;
}

.folder:last-child, .note:last-child {
    border-bottom: solid var(--purple);
    border-width: 1.5px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.folder:hover, .note:hover {
    background-color: var(--light-green);
}

.folder.selected, .note.selected {
    background-color: var(--dark-green);
}

#folder-buttons, #note-buttons {
    margin-top: var(--folder-icon-offset);
    margin-left: calc(var(--border-radius)/2);
    display: flex;
}

#add-folder-button, #add-note-button {
    color: var(--dark-green);
    margin-right: 5px;
}

#delete-folder-button, #delete-note-button {
    color: var(--purple);
}

#add-folder-input, #add-note-input {
    position: absolute;
    --width: 280px;
    top: calc(var(--column-height)/2 - var(--item-height)/2);
    left: calc(50% - var(--width)/2);
    width: var(--width);
    height: var(--item-height);
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-family: monospace;
    visibility: hidden;
    z-index: 1;
}

#add-folder-input:focus, #add-note-input:focus {
    outline: none;
}

#add-folder-input:focus::placeholder, 
#add-note-input:focus::placeholder {
    color: transparent;
}

.clickable:hover {
    cursor: pointer;
}

.unclickable {
    pointer-events: none;
}

input:hover {
    cursor: pointer;
}