:root {
    --column-width: 225px;
    --item-height: 45px;
    --num-items: 9;
    --column-height: calc(var(--num-items)*var(--item-height) + calc(var(--item-height)/2));
    --item-padding: 10px;
    --light-grey: rgb(206, 206, 206);
    --dark-grey: rgb(102, 102, 102);
    --font-color: rgb(0, 0, 217);
    --border-color: rgb(255, 137, 255);
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

#folder-container {
    width: var(--column-width);
    height: var(--column-height);
    overflow: scroll;
    border: 1.5px solid var(--border-color);
    border-radius: 10px;
    background-color: rgba(255, 137, 255, 20%);
}

.folder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: var(--item-height);
    color: var(--font-color);
    background-color: aquamarine;
    margin: 0px;
    padding: var(--item-padding);
    border-top: solid var(--border-color);
    border-width: 1.5px;
    font-size: 14px;
    font-family: monospace;
}

.folder:first-child {
    border-top: none;
}

.folder:last-child {
    border-bottom: solid var(--border-color);
    border-width: 1.5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.folder.selected {
    color: var(--dark-gray);
}

.folder:hover {
    color: var(--light-gray);
    background-color: rgb(188, 255, 233);
    /* cursor: pointer; */
}